In [11]:
import pandas as pd
import numpy as np

df = pd.DataFrame(
                    {
                        "chat_id": ["1234567654311234256", "12313123123"], 
                        "yes_button": [False, False],
                        "show_button": [False, False]
                    }
                )

df.to_excel('../database/buttons.xlsx', index=False, header=["chat_id", "yes_button", "show_button"])
df.head()

               chat_id  yes_button  show_button
0  1234567654311234256       False        False
1          12313123123       False        False

In [12]:
df = pd.read_excel("../database/buttons.xlsx", header=0)

for i in range(1000):
    df.loc[i, 'chat_id'] = " "
    df.loc[i, 'yes_button'] = " "
    df.loc[i, 'show_button'] = " "

df.to_excel('../database/buttons.xlsx', index=False, header=["chat_id", "yes_button", "show_button"])
df.head(999)

    chat_id yes_button show_button
0
1
2
3
4
..      ...        ...         ...
994
995
996
997
998

[999 rows x 3 columns]